<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>
      
      <h1><%= wiki.title %></h1>   
      <p><%= wiki.private == true? "Private Wiki" : "Public Wiki" %></p>

      <% if(currentUser) { %>
        <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
      <% } %>
      <% if(currentUser && (currentUser.role == "admin" || wiki.userId == currentUser.id)) { %>
      <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <% } %>
      <p><%- wikiMarkdown %></p>
      
    <hr>

      <form action="/wikis/<%= wiki.id %>/collaborations/create" method="post">
        <label>Add Collaborators</label>
        <div class="input-group">
          <input type="text" class="form-control" name="collaboratorEmail" placeholder="Enter collaborator email">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
        </form>

    <hr>

      <% if(collaborations != 0) { %>
        <h2>Current Collaborators</h2>
        <ul class="list-group">
          <% collaborations.forEach((collaboration) => { %>
          <li class="list-group-item">
            <a href="/users/<%= collaboration.collaboratorId %>"> <%= collaboration.collaboratorId %> </a> 
          </li>
          <% }) %>
      </ul>
      <% } %>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
