<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

 <!-- #1 -->
      <h1><%= `${user.email}'s profile` %></h1>
      <p>Current role: <%= user.role %></p>

      <% if(user.role == "standard") { %>
        <a href="/users/<%= user.id %>/upgrade" class="btn btn-success">Upgrade</a>
      <% } %>

      <% if(user.role == "premium") { %>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#downgradeModal">
          Downgrade
        </button>

        <!-- Modal -->
        <div class="modal fade" id="downgradeModal" tabindex="-1" role="dialog" aria-labelledby="downgradeModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="downgradeModalLabel">Are you sure you want to downgrade?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                All your private wikis will become public, and you will lose the ability to create private wikis. 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="/users/<%= user.id %>/downgrade" method="post">
                  <button type="submit" class="btn btn-primary">Downgrade</button>
                </form>              
              </div>
            </div>
          </div>
        </div>
      <% } %>

      <hr>

      <h2> Latest Wikis</h2>

      <ul class="list-unstyled">

 <!-- #2 -->
        <% if(wikis) { %>
          <% wikis.forEach((wiki) => { %>
 <!-- #3 -->
            <li>
              <a href="/wikis/<%= wiki.id %>">
                <%= wiki.title %>
              </a>
            </li>
          <% }) %>
        <% } %>
      </ul>
     
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>